</main>
<footer class="bg-[#2A3663] flex justify-center items-center basis-[80px]">
    <h1 class="text-white font-bold">Copyright © <%= new Date().getFullYear() %></h1>
</footer>

<script src="/js/main.js"></script>
</body>
</html>